/*---------------------------
Padronização de cores
------------------------------*/ 
:root {
    --primary: #36393f;
    --secondary: #2f3136;
    --tertiary: rgb(32, 34, 37);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;
    --white: #fff;
    --grey: #8a8c90;
    --chat-input: rgb(64, 68, 75);
    --symbol: #74777a;
    --notification: #f84a4b;
    --discord: #6e86d6;
    --mention-detail: #f9a839;
    --mention-message: #413f3f;
    --link: #5d80d6;
    --rocketseat: #6633cc;
  }

/*---------------------------
Reset do HTML do site 
------------------------------*/
* {
padding:0;
margin:0;
box-sizing: border-box;
}

button,input {
border:0;
outline: 0;
font-family: 'Roboto',sans-serif; 
}

html,body,#discord {
height: 100%;
}

/*---------------------------
Padronização de titulos 
------------------------------*/
h1 {
  font-size: 25px;
  margin-bottom: 15px;
}
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  margin-bottom: 15px;
}