@mixin boxShadow {
    box-shadow: 1px 2px 4px rgb(39, 39, 39);
}
@mixin scroll {
    &::-webkit-scrollbar {
        width: 8px;  
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--tertiary);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--secondary);
    }
}

/*--------------------------------
Padronização de buttons
------------------------------- */

@mixin button_normal {
    background-color: var(--discord);
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    color: var(--white);
    transition: .4s;
    &:hover {
        cursor: pointer;
        background-color: var(--rocketseat);
    }
}

@mixin button_danger {
    background-color: var(--notification);
    padding: 5px;
    border-radius: 2px;
    color: var(--white);
    transition: .4s;

    &:hover {
        cursor: pointer;
        background-color: #d22c2c;
    }
}

/*--------------------------------

Padronização de Modals

------------------------------- */

@mixin modalservidor {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.831);
    z-index: 999;

    .content {
        background-color: var(--white);
        width: 440px;
        height: 500px;
        border-radius: 6px;
        color: black;

        .principal {
            padding: 18px;

            h2 {
                text-align: center;
                font-weight: 600;
                font-size: 30px;
            }

            .icone {
                display: flex;
                justify-content: flex-end;
                &:hover {
                    cursor: pointer;
                    color:var(--quinary);
                }
            }

        }
    }

    .voltar-formulario {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: rgb(239, 239, 239);
        border-radius: 6px;
        button {
            @include button_normal;
        }
        span {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: var(--quinary);
        }
    }
}